:root {
  --unit: 10px;

  --font-family-regular: 'Inter-UI-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-medium: 'Inter-UI-Medium', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-bold: 'Inter-UI-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-black: 'Inter-UI-Black', trebuchet ms, Verdana, 'Arial', sans-serif;
}

@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Regular';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Regular.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Medium';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Medium.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/Inter-UI-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Bold';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Bold.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/Inter-UI-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter-UI-Black';
  src: url('https://static.teamleader.eu/fonts/Inter-UI-Black.woff2') format('woff2'),
  url('https://static.teamleader.eu/fonts/Inter-UI-Black.woff') format('woff');
}

.text {
  strong {
    font-family: var(--font-family-medium);
    font-weight: 500;
  }
}

.heading-1 {
  font-family: var(--font-family-medium);
  font-size: calc(2.4 * var(--unit));
  font-weight: 500;
  line-height: calc(3.0 * var(--unit));
}

.heading-2 {
  font-family: var(--font-family-medium);
  font-size: calc(1.8 * var(--unit));
  font-weight: 500;
  line-height: calc(2.4 * var(--unit));
}

.heading-3 {
  font-family: var(--font-family-medium);
  font-size: calc(1.6 * var(--unit));
  font-weight: 500;
  line-height: calc(2.1 * var(--unit));
}

.heading-4 {
  font-family: var(--font-family-bold);
  font-size: calc(1.2 * var(--unit));
  font-weight: 700;
  line-height: calc(1.8 * var(--unit));
  letter-spacing: .6px;
  text-transform: uppercase;
}

.heading a {
  text-decoration: none;
}

.heading a:hover {
  text-decoration: underline;
}

.text-display {
  font-family: var(--font-family-regular);
  font-size: calc(1.6 * var(--unit));
  line-height: calc(2.4 * var(--unit));
}

.text-body {
  font-family: var(--font-family-regular);
  font-size: calc(1.4 * var(--unit));
  line-height: calc(2.1 * var(--unit));
}

.text-small {
  font-family: var(--font-family-regular);
  font-size: calc(1.2 * var(--unit));
  line-height: calc(1.8 * var(--unit));
}

.monospaced {
  font-feature-settings: "tnum" on;
}