:root {
  --unit: 10px;

  --font-family-regular: 'ProximaNova-Regular', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-medium: 'ProximaNova-Medium', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-semi-bold: 'ProximaNova-Semibold', trebuchet ms, Verdana, 'Arial', sans-serif;
  --font-family-bold: 'ProximaNova-Bold', trebuchet ms, Verdana, 'Arial', sans-serif;
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova-Regular';
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Regular.eot');
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Regular.woff') format('woff'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova-Medium';
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Medium.eot');
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Medium.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Medium.woff') format('woff'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova-Semibold';
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Semibold.eot');
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Semibold.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Semibold.woff') format('woff'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova-Bold';
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Bold.eot');
  src: url('https://static.teamleader.eu/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Bold.woff') format('woff'),
       url('https://static.teamleader.eu/fonts/ProximaNova-Bold.ttf') format('truetype');
}

.text {
  strong {
    font-family: var(--font-family-semi-bold);
    font-weight: 500;
  }
}

.heading-1 {
  font-family: var(--font-family-semi-bold);
  font-size: calc(2.5 * var(--unit));
  font-weight: 500;
  line-height: calc(3.0 * var(--unit));
}

.heading-2 {
  font-family: var(--font-family-semi-bold);
  font-size: calc(2.0 * var(--unit));
  font-weight: 500;
  line-height: calc(2.4 * var(--unit));
}

.heading-3 {
  font-family: var(--font-family-semi-bold);
  font-size: calc(1.6 * var(--unit));
  font-weight: 500;
  line-height: calc(2.1 * var(--unit));
}

.heading-4 {
  font-family: var(--font-family-bold);
  font-size: calc(1.24 * var(--unit));
  font-weight: 500;
  line-height: calc(1.8 * var(--unit));
  letter-spacing: .25px;
  text-transform: uppercase;
}

.heading a {
  text-decoration: none;
}

.heading a:hover {
  text-decoration: underline;
}

.text-body {
  font-family: var(--font-family-regular);
  font-size: calc(1.6 * var(--unit));
  line-height: calc(2.4 * var(--unit));
}

.text-small {
  font-family: var(--font-family-regular);
  font-size: calc(1.4 * var(--unit));
  line-height: calc(1.8 * var(--unit));
}

.text-tiny {
  font-family: var(--font-family-regular);
  font-size: calc(1.2 * var(--unit));
  line-height: calc(1.8 * var(--unit));
}

.monospaced {
  font-feature-settings: "tnum" on;
}

.old-styled-number {
  font-variant-numeric: oldstyle-nums;
}